doctype html
html
  head
    meta(charset='utf-8')
    |     
    title
    |     
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
      | script src=&quot;https://html5shiv.googlecode.com/svn/trunk/html5.js&quot;&gt;
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script(src='/js/admin.js')
    |     
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  block body
    - var myMonths = ['---', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Nov','Dec']
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a.brand(href='/')
          img.img-responsive.center-block(src='images/logo.png')
      |         
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li.active
            a(href='/admin') Manage Artwork
          li
            a(href='/edit') Change Info
          li
            a(href='/Logout') Logout
    // Page Content
    .container
      // Page Heading
      .row
        .col-lg-12
          h1.page-header Add artwork 
          form(role='form', enctype="multipart/form-data", method='post', action='upload')
            .row
              .col-sm-6
                label.control-label(for='fileUpload') Upload Image
                span.required *
                input(type='file', name='fileUpload', required)
              .col-sm-6
                label.control-label(for='price') Price
                span.required *
                .input-group
                    span.input-group-addon 
                        | $
                    input.form-control(type='number', min='0', name='price', required)
            .row
              .col-sm-6
                label.control-label(for='title') Title
                span.required *
                input.form-control(type='textbox', required, name='title')
              .col-sm-2
                label.control-label(for='height') Height (in)
                span.required *
                input.form-control(type='number', name='height', min='0', required)
              .col-sm-2
                label.control-label(for='width') Width (in)
                span.required *
                input.form-control(type='number', name='width', min='0', required)
              .col-sm-2
                label.control-label(for='depth') Depth (in)
                input.form-control(type='number', name='depth', min='0')
            .row 
              .col-sm-6
                label.control-label(for='medium') Medium
                span.required *
                input.form-control(type='textbox', required, name='medium')
              .col-sm-2
                label.control-label(for='month') Month
                select.form-control(type='month', name='month')
                  each m in myMonths
                    option #{m}
              .col-sm-2
                  label.control-label(for='day') Day
                  input.form-control(type='number',min='1', max='31', name='day')
              .col-sm-2
                  label.control-label(for='year') Year
                  span.required *
                  input.form-control(type='number', min='2000', max='2100', required, name='year')
            .row
               .col-sm-12
                  label.control-label(for='description') Description
                  textarea.form-control(rows='5', name='description')
            .row
              .col-sm-12
                .controls.form-inline
                  button.btn.btn-primary(type='submit') Save
                  .checkbox
                    label
                      input(type='checkbox', value='', checked='', name='forSale')
                      | For Sale
                    label
                      input(type='checkbox', value='', checked='', name='onHome')
                      | Show on Homepage
      // /.row
      .row
        .col-lg-12
          h1 Change Artwork Information
      // Project One
      each val in pictures
        .row
          .col-md-6
            img.img-responsive(src=val.imgsrc, alt=val.alt)
          .col-md-6
            form.update-art(method='post', action='save', role='form')
                input(type='hidden', value=val._id, name='artId')
                .row
                  .col-sm-12
                    label.control-label(for='title', required) Title
                    span.required *
                    input.form-control(type='textbox', name='title', required, value=val.title)
                .row 
                  .col-sm-12
                    label.control-label(for='medium') Medium
                    span.required *
                    input.form-control(type='textbox', required, name='medium', value=val.medium)
                .row
                  .col-sm-12
                    label.control-label(for='price') Price
                    span.required *
                    .input-group
                        span.input-group-addon 
                            | $
                        input.form-control(type='number', min='0', name='price', value=val.price, required)
                .row
                  .col-sm-4
                    label.control-label(for='height') Height (in)
                    span.required *
                    input.form-control(type='number', name='height', min='0', value=val.height, required)
                  .col-sm-4
                    label.control-label(for='width') Width (in)
                    span.required *
                    input.form-control(type='number', name='width', min='0', value=val.width, required)
                  .col-sm-4
                    label.control-label(for='depth') Depth (in)
                    input.form-control(type='number', name='depth', min='0', value=val.depth)
                .row
                  .col-sm-4
                    label.control-label(for='month') Month
                    select.form-control(type='month', name='month')
                      each m in myMonths
                        option(selected=val.month == m) #{m}
                  .col-sm-4
                      label.control-label(for='day') Day
                      input.form-control(type='number',min='1', max='31', name='day', value=val.day)
                  .col-sm-4
                      label.control-label(for='year') Year
                      span.required *
                      input.form-control(type='number', min='2000', max='2100', required, value=val.year name='year')
                .row
                   .col-sm-12
                      label.control-label(for='description') Description
                      textarea.form-control(rows='5', name='description')
                        =val.description
                .row
                  .col-sm-12
                    .controls.form-inline
                      .checkbox
                        label
                          input(type='checkbox', checked=val.forSale, name='forSale')
                          | For Sale
                        label
                          input(type='checkbox', checked=val.onHome, name='onHome')
                          | Show on Homepage
                .row
                  .col-sm-12
                    button.btn.btn-primary.remove-btn(data-id=val._id, data-src=val.imgsrc) Remove From Website
                    input.btn.btn-primary(type='submit', value="Save Changes")
            hr
            // Footer
      footer
        .row
          .col-lg-12
            p
        // /.row
    // /.container
