doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Checkout
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    script
        | var picture = !{art};
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.img-responsie.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store
    .container
      h2 You have selected: 
      h1(class='text-center')
        | #{JSON.parse(art).title}
      div(class="row text-center")
        img(src=JSON.parse(art).imgsrc height=200)
      br
      p(class='text-center')
        | Price: $#{JSON.parse(art).price}
      p(class='text-center')
        | Medium: #{JSON.parse(art).medium}
      p(class='text-center')
        | Dimensions: #{JSON.parse(art).dim}
      p(class='text-center')
        | Date: #{JSON.parse(art).date}
      if JSON.parse(art).forSale == true
        div(class="row text-center")
          form(action='/charge', method='POST')
            script.stripe-button(src='https://checkout.stripe.com/checkout.js', 
              data-key='pk_test_wPyPq4ModptnhHMCIhpg1hwc', 
              data-amount=JSON.parse(art).price, 
              data-name=JSON.parse(art).title, 
              data-description=JSON.parse(art).description, 
              data-image=JSON.parse(art).imgsrc)
      else
        h3 We appologize, but this piece is not for sale at this time.
        p 
          | Please be sure to check out the 
          a(href='/store') store
          |  for an up-to-date list of available items.

      br


