doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
      | script src=&quot;https://html5shiv.googlecode.com/svn/trunk/html5.js&quot;&gt;
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store
    .container
      form(action='/charge', method='POST')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js', 
          data-key='pk_test_wPyPq4ModptnhHMCIhpg1hwc', 
          data-amount='2000', 
          data-name='Demo Site', 
          data-description='2 widgets ($20.00)', 
          data-image='/128x128.png')


