doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Gallery
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    // Custom css and js for gallery
    link(rel='stylesheet', type='text/css', href='css/default.css')
    link(rel='stylesheet', type='text/css', href='css/component.css')
    script(src='js/modernizr.custom.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li.active
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li
            a(href='/store') Store
    .container
      header.clearfix
        h1
          | Thumbnail Grid 
          span with Expanding Preview
      |         
      .main
        ul#og-grid.og-grid
          each val in pictures
            li
              - var forsale = "false"
              - if(val.forSale) {
              -   forsale = "true";
              - }
              - var description = val.description;

              a(href='/checkout?picid='+val._id, data-largesrc=val.imgsrc, data-title=val.title, data-description=description, data-forsale=forsale)
                img(src=val.imgsrc, alt=val.alt, height=250)
    // /container
    script(src='js/grid.js')
    script.
      $(function() {
      Grid.init();
      });
