doctype html
html
  head
    meta(charset='utf-8')
    title
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    //if IE
      | script(src='https://html5shiv.googlecode.com/svn/trunk/html5.js')
    // Bootstrap
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css')
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', media='screen', href='css/master.css')
    script(src='js/shop-list.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        a(href='/')
          img.center-block(src='images/logo' height='100')
      div
        ul.navbar-justice-league.nav.navbar-nav
          li
            a(href='/')
              span.glyphicon.glyphicon-home
          li
            a(href='/gallery') Gallery
          li
            a(href='/technique') About the Art
          li
            a(href='/about') About the Artist
          li
            a(href='/contact') Contact
          li
            a(href='/commission') Commission
          li.active
            a(href='/store') Store
    // Page Content
    .container
      .store-menu
        // Page Heading
        .row
          .col-lg-12
            h1.page-header
              | Shop
              small Make me rich
        // /.row
        // Sorting Button
        .row
          .dropdown-btn.dropdown
            button#dropdownMenu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
              | Price: highest first
              span.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Price: lowest first
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Name: A-Z
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Name: Z-A
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Most Recent
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Oldest
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Medium: A-Z
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Medium: Z-A
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Size: highest first
              li(role='presentation')
                a#sortItem(role='menuitem', tabindex='-1', href='#') Size: lowest first
        // row
        hr
    .container.projects-container

      each val in pictures
        .row.project(data-date=val.numdate, data-name=val.title, data-medium=val.medium, data-size=val.size, data-price=val.price)
            .col-md-6
                img.img-responsive(src=val.imgsrc,alt=val.alt)
            .col-md-6
                h3.name
                    =val.title
                h4.medium 
                    =val.medium
                h4.dimension
                    =val.dim
                h5.date
                    =val.date
                p.description
                    =val.description
                p.price $
                    =val.price
                a.buy-btn(href='/checkout') Buy
