.row.project(data-date=date, data-name=title, data-medium=medium, data-size=size, data-price=price)
	.col-md-6
		img.img-responsive(src=imgsrc,alt=alt)
	.col-md-6
		h3#name #{title}
		h4#medium #{medium}
		h4#dimension #{width} x #{height}
		h5#date #{date}
		p#description
		|	#{description}
		p#price $#{price}
		a.buy-btn(href='/checkout') Buy
